name: Build application

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v1

      - name: Install Node and NPM
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install yarn
        run: |
          npm -g install yarn
      
      - name: Install node modules
        run: |
          yarn
      
      - name: Build installable setup
        run: |
          yarn make

      - name: Build portable setup
        run: |
          yarn package
      
      - name: Save Setup file as Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Build Artifacts
          path: out/
